---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SidebarLayout from "@/layouts/sidebarLayout";

const breadcrumbItems = [
  { title: "Home" },
];
---

<BaseLayout title="Tools">
	<SidebarLayout client:load header={breadcrumbItems}>
		<p>Home page</p>
	</SidebarLayout>
</BaseLayout>