---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SidebarLayout from "@/layouts/sidebarLayout";

const breadcrumbItems = [
    { title: "Home", href: "/" },
    { title: "Encoding & Decoding", href: "/encoding-decoding" },
    { title: "Base64" },
];
---

<BaseLayout title="Base64 Encode/Decode">
	<SidebarLayout client:load header={breadcrumbItems}>
		<p>Base64</p>
	</SidebarLayout>
</BaseLayout>