---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SidebarLayout from "@/layouts/sidebarLayout";

const breadcrumbItems = [
    { title: "Home", href: "/" },
    { title: "Encoding & Decoding", href: "/encoding-decoding" },
    { title: "HTML Entity" },
];
---

<BaseLayout title="HTML Entity Encode/Decode">
	<SidebarLayout client:load header={breadcrumbItems}>
		<p>HTML Entity</p>
	</SidebarLayout>
</BaseLayout>