---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SidebarLayout from "@/layouts/sidebarLayout";

const breadcrumbItems = [
    { title: "Home", href: "/" },
    { title: "Encoding & Decoding"},
];
---

<BaseLayout title="Encoding & Decoding">
	<SidebarLayout client:load header={breadcrumbItems}>
		<p>Encoding & Decoding</p>
	</SidebarLayout>
</BaseLayout>